@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Lato", sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style-type: none;
}
.flex {
    display: flex;
}
.flex-1 {
    flex:1;
}

.row {
  width: 100%; 
 max-width: 800px;
 margin: 0 auto;
}
/*Navigation bar*/
nav {
    height:100px;
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_link--list {
    display: flex;
}
.nav_link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
    transition: all 300ms ease;
}

.nav_link--anchor-primary:hover {
    background-color: #5d3eff;
}
.personal_logo {
    font-size: 24 px;
    color:#6030b1;
    margin: 0 12px;
    font-weight: bold;
}

/*About Me*/

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me_info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me_picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden
    box-shadow: 0 8px 16px rba(0,0, 0, 0.16)
}

.about_me--picture {
    width: 100;


/*Improving my picture*/
transform:scale(1.5);
padding-top: 8px;
}