@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Lato", sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
font-size: 36px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style-type: none;
}
.flex {
    display: flex;
    
}
.flex-1 {
    flex:1;
}

.container {
    padding: 50px 0;
}

.row {
  width: 100%; 
 max-width: 800px;
 margin: 0 auto;
 
 
 
}
.text--purple {
    color:#6030b1;
}

.section:nth-child(even) {
    background-color: #f8f8f8;
}

.section_title {
    margin-bottom: 20px;
}
/*Navigation bar*/
nav {
    height:100px;
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_link--list {
    display: flex;
}
.nav_link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
    transition: all 300ms ease;
}

.nav_link--anchor-primary:hover {
    background-color: #5d3eff;
}
.personal_logo {
    font-size: 24 px;
    color:#6030b1;
    margin: 0 12px;
    font-weight: bold;
}

/*About Me*/

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-me_info {
    display: flex;
    flex-direction: column;
}

.about-me_info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me_picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 16px rba( 0, 0, 0, 0.16);
    margin-bottom: 28px;
}

.about_me--picture {
    width: 100px;
    height: auto;


/*Improving my picture*/
transform:scale(1.5);
padding-top: 20px;
}

.about-me_info--title {
    margin-bottom: 24px;
}

.about-me_info--para {
    font-size: 20px;
    margin-bottom: 28px;
    text-align: center;
}

.about-me_link {
    font-size: 20px;
    color: #242424;
    text-decoration: none;
    padding: 0 16px;
    margin: 0 auto;
    
}

.about-me_img--container {
    flex: 1;
    display: flex;
    align-items: center;

}

.about-me_img {
    width:100%
}

/* Tech Stack*/

.language_img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms;
     
}

.language :hover .language_img {
    filter: brightness(80%);
    opacity: 0.86;
    transform:scale(0.9);
}
.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
    
}

.language_img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
    
}

.languages_list {
    display: flex;
     width: 100%;
    flex-wrap: wrap;
   
}

.language_name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 20px;
    opacity: 0;
    
}

.language :hover .language_name {
    transform: scale(1);
    opacity: 1;
}

/*Project*/

.project_img {
    width: 100%;
    transition: all 500ms ease;
}

.project_wrapper, .project_description {
    display: flex;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    height: 530px;
}

.project_wrapper:before {
    content: "";
    position:absolute;
    top: 50%;
    left: 90%;
    height: 0;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
}

.project_wrapper:hover::before {
    opacity: 0.7;
    transform: scale(1.07);
    filter: blur(5px);
}

.project_list {
    padding-top: 40px;
}

.project_description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-40%);
    max-width: 550px;
    z-index: 3;

}

.project_description--title {
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none;
}

.project_description--para {
    margin: 16px 0;
      
}

.project_description--link {
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none;
}

.project_description--title,
.project_description--sub-title,
.project_description--para,
.project_description--link {
    text-align: left;
    color: #1c1d25;
    
}




